.button {
  cursor: pointer;
  height: 40px;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #007fff;
  color: white;
  font-weight: 500;
  border: 0px;
  border-radius: 5px;
  &:active {
    background-color: rgba(0, 127, 255, 0.9) !important;
  }
  &:hover {
    background-color: rgba(0, 127, 255, 0.8);
  }
  &:disabled {
    background-color: grey;
  }
}