.wrap {
  background: #F5F5F5;
  padding-top: 40px;
}
.mainParams {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.urlWrap {
  display: flex;
  width: 90%;
  margin-right: 20px;
}


.tabs {
  width: 80%;
  margin: 0 auto;
}