.history {
  background: darken(#F5F5F5, 1.3);
  h3 {
    text-align: center;
    font-weight: 500;
  }
}

.historyItem {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  min-height: 50px;
  max-height: 80px;
  align-items: center;
  padding-right: 10px;
  &:hover {
    background: rgba($color: #DCDCDC, $alpha: 0.4);
  }
}

.method {
 padding: 0 10px;
 
 font-size: 13px;
 font-weight: 500;
 &_green {
  color: green;
 }
 &_red {
   color: red;
 }
 &_yellow {
   color: #DC9D00;
 }
}

.url {
  overflow-wrap: anywhere;
  color: grey;
  font-weight: 300;
}